<div *ngIf="isDisplay">
    <table>
        <tr>
            <th></th>
            <th>Symbol</th>
            <th>Name</th>
            <th>Basic Price</th>
            <th>Price</th>
            <th>Bid Size</th>
            <th>Bid Price</th>
            <th>Ask Size</th>
        </tr>
        <tr *ngFor="let stock of stocks$ | async">
            <td><input type="button" value="X" (click)="delete(stock.Symbol)"></td>
            <td>{{stock.Symbol}}</td>
            <td>{{stock.Name}}</td>
            <td>{{stock.BasePrice}}</td>
            <td>{{stock.LastPrice}}</td>
            <td>{{stock.BidSize}}</td>
            <td>{{stock.Bid}}</td>
            <td>{{stock.AskSize}}</td>
        </tr>
    </table>
</div>

<!-- <div *ngIf="stocks$ | async">
    <div *ngFor="let stock of stocks$ | async">
        <p>{{stock.Ask}}</p>
        <p>{{stock.Name}}</p>
        <p>{{stock.Symbol}}</p>
        ברוך השם
        <button (click)="print()">ggg</button>
    </div>
</div> -->